<div class="wrapper_wide" id="homec">
<header class="cf">
    <a href="#" id="logo"> <span class="textodelgado">LIBRE</span> ESTUDIO</a>
      <nav class="navu">
        <ul>
          <% unless user_signed_in? %>
            <li><%= link_to "LOG IN", new_user_session_path, class:"nav_button" %></li>
          <% end %>
        </ul>
      </nav>

</header>
</div>
<div class="wrapper_wide">
  <section id="contenido">
    <h1><span class="textongrueso">ÚNETE A</span> <span class="textodelgado">LIBRE</span> ESTUDIO</h1>
    <p id=desproyecto>
      Una comunidad donde encontraras <span class="textodelgado">TODO</span> (material practico y teórico)<br>
      sobre Lenguaje de Programación I siguiendo con los estatutos<br>
      encontrados en el pensum del <span class="textodelgado">Primer Semestre</span> de la carrera de Informática <br>
      del Instituto Universitario de Tecnología Industrial Rodolfo Loero Arismendi <br>
      <span class="textodelgado">(I.U.T.I.R.L.A)</span>.
    </p>
    <div class="wrapper_wide">
      <% unless user_signed_in?%>
        <%= link_to "Regístrate", new_user_registration_path, class:"button button_highlight button_home " %>
        <%= link_to "Explora", users_path, class:"button button_highlight button_home"%>

      <%end%>

    </div>
    <div id="warning" class="wrapper_wide">
      <p>
        Para disfrutar del contenido descargable deberás regístrarte
      </p>
    </div>

  </section>
  <div id="logo_wrapper"></div>
</div>
